<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morjo.model.dao.QuizDao">
    <resultMap id="QuizResultMap" type="QuizResult">
        <id property="quizId" column="quiz_id" />
        <result property="userAnswers" column="answer1" />
        <result property="userAnswers" column="answer2" />
        <result property="userAnswers" column="answer3" />
        <result property="userAnswers" column="answer4" />
    </resultMap>

    <select id="selectQuizRandom" resultType="Quiz">
        SELECT quiz_id, content, option1, option2, option3, option4, created_user_id, created_at FROM quiz
        <if test="userId > 0">
            WHERE quiz.quiz_id NOT IN
            (SELECT quiz_id FROM quiz_user
            WHERE user_id = #{userId} AND (quiz.quiz_id = quiz_user.quiz_id))
        </if>
        ORDER BY RAND() LIMIT 1
    </select>
    <select id="selectQuizById" parameterType="long" resultType="Quiz">
        SELECT quiz_id, content, option1, option2, option3, option4, created_user_id, created_at FROM quiz
        WHERE quiz_id = #{quizId}
    </select>
    <select id="selectQuizResultById" parameterType="long" resultMap="QuizResultMap">
        SELECT quiz_id,
               (SELECT answer
                FROM quiz
                WHERE quiz.quiz_id = quiz_result.quiz_id)      AS answer,
               COUNT(CASE WHEN user_answer = 1 THEN 1 END)     AS answer1,
               COUNT(CASE WHEN user_answer = 2 THEN 1 END)     AS answer2,
               COUNT(CASE WHEN user_answer = 3 THEN 1 END)     AS answer3,
               COUNT(CASE WHEN user_answer = 4 THEN 1 END)     AS answer4,
               COUNT(CASE WHEN is_common_sense = 1 THEN 1 END) AS isCommonSense,
               COUNT(CASE WHEN is_common_sense = 0 THEN 1 END) AS notCommonSense
        FROM (SELECT *
              FROM quiz_user
              WHERE quiz_id = #{quizId}) as `quiz_result`
    </select>
    <insert id="insertQuiz" useGeneratedKeys="true" keyProperty="quizId" parameterType="Quiz">
    	INSERT INTO quiz(content, option1, option2, option3, option4, answer, created_user_id)
        VALUES(#{content}, #{option1}, #{option2}, #{option3}, #{option4}, #{answer}, #{createdUserId})
    </insert>
    <insert id="insertQuizSubmit" parameterType="QuizSubmit">
        INSERT INTO quiz_user(quiz_id, user_id, user_answer, is_common_sense)
        VALUES(#{quizId}, #{userId}, #{userAnswer}, #{isCommonSense})
    </insert>
    <select id="selectQuizUserById" parameterType="long" resultType="int">
        SELECT COUNT(*) FROM quiz_user
        WHERE quiz_id = #{quizId} AND user_id = #{userId}
    </select>
</mapper>
