<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morjo.model.dao.UserDao">
    <select id="selectUserByKakaoId" parameterType="Long" resultType="User">
        SELECT * FROM user
        WHERE kakao_id = #{kakaoId}
    </select>
    <select id="selectUserByUserId" parameterType="Long" resultType="User">
        SELECT * FROM user
        WHERE user_id = #{UserId}
    </select>
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user (kakao_id, nickname)
        VALUES (#{kakaoId}, #{nickname})
    </insert>
</mapper>
